<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screener</title>
    <link rel="stylesheet" href="static/styles/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="/static/function.js"></script>
    <script type="text/javascript" src="static/jquery.sparkline.js"></script>
    <script src="/static/stockonclick.js"></script>
    <script>
        $(document).ready(function() {
            let table = $('.stockstable').DataTable({
                // options
                paging: false,
                autoWidth: false,
                info: false,
                stateSave: true,
                responsive: true,
                columnDefs: [
                    { targets: 'no-sort', orderable: false } 
                ]
            });
        });
    </script>


</head>
<body>
    <h1>Stock Screener</h1>
    <form>
        <div class="form-container">
            <div class="form-group">
                <label for="sector">Industry:</label>
                <select id="sector" name="sector">
                    {% for sector in sectors %}
                        <option value="{{ sector }}">{{ sector }}</option>
                    {% endfor %}
                    <option value="All" selected>All sectors</option>
                </select>
            </div>
            <div class="form-group">
                <label for="moving-average">Moving Average:</label>
                <select id="moving-average" name="MovingAvarage">
                    <option value="20">MA 20 weeks</option>
                    <option value="30">MA 30 weeks</option>
                    <option value="50">MA 50 weeks</option>
                </select>
            </div>
            <div class="form-group">
                <label for="market-cap">Market Cap:</label>
                <select id="market-cap" name="market-cap">
                    <option value="mega">Mega (>$200B)</option>
                    <option value="large">Large (>$10B)</option>
                    <option value="medium">Medium (>$2B)</option>
                    <option value="small">Small (>$300M)</option>
                </select>
            </div>
            <input type="submit" value="Scan"></intput>
        </div>
       
    </form>
    <div id="summary">
        <div class="box">
            <span class="title">Max Week Winner: </span>
            <span class="ticker" id="Wweek"></span>
            <span class="percentage" id="Wweekv"></span>
        </div>
        <div class="box">
            <span class="title">Max Week Loser: </span>
            <span class="ticker" id="Lweek"></span>
            <span class="percentage" id="Lweekv"></span>
        </div>
        <div class="box">
            <span class="title">Max Month Winner: </span>
            <span class="ticker" id="Wmonth"></span>
            <span class="percentage" id="Wmonthv"></span>
        </div>
        <div class="box">
            <span class="title">Max Month Loser: </span>
            <span class="ticker" id="Lmonth"></span>
            <span class="percentage" id="Lmonthv"></span>
        </div>
    </div>
    
    <div id="table-container">
        <table class="stockstable">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Company Name</th>
                    <th>Country</th>
                    <th>Close Price</th>
                    <th>7d Price Change</th>
                    <th>1m Price Change</th>
                    <th>Price distance from SMA</th>
                    <th>RSI</th>
                    <th class="no-sort">Price Chart</th>
                    <th class="no-sort">Trading</th>
                </tr>
            </thead>
            {% for stock, data in stocks.items() %}
                <tr> 
                    <td class="stock">{{ stock }}</td>
                    <td>{{ data.name }}</td>
                    <td class = "no-sort"><img class="flag" src="/static/media/flags/{{data.country}}.svg"></td>
                    <td>{{ data.close }}</td>
                    <td class = "week">{{ data.day}}%</td>
                    <td class = "month">{{ data.month }}%</td>
                    <td class="sma">{{ data.smachange }}%</td>
                    <td class = "rsi">{{ data.rsi}}</td>
                    <td class="sparkline-cell" data-symbol="{{ stock }}"></td> 
                    <td>
                        <a href="https://www.tradingview.com/symbols/{{ stock }}/" target="_blank">
                            <img src="/static/media/LookTrend.svg" alt="TradingView">
                        </a>
                    </td>
            {% endfor %}
        </table>
    </div>
    <script>
        let closesd = {{ closes|tojson|safe}};
        $('.sparkline-cell').each(function(index) {
            let symbol = $(this).data('symbol');
            $(this).sparkline(closesd[symbol], {
                type: 'line',
                fillColor: (closesd[symbol][0] < closesd[symbol][closesd[symbol].length - 1]) ? '#bfefbf' : '#efbfbf',
                minSpotColor: false,
                maxSpotColor: false,
                highlightSpotColor: false,
                disableInteraction: true,
                highlightLineColor: false,
                drawNormalOnTop: false,
                lineColor: (closesd[symbol][0] < closesd[symbol][closesd[symbol].length - 1]) ? 'green' : 'red'
            });
        });
    </script>

</body>
</html>