@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html{
  font-family: 'Roboto', sans-serif;
}


h1 {
  color: black;
  font-size: 50px;
  text-align: center;
  font-weight: bold; /* Make the text bold */
  text-transform: uppercase; /* Convert the text to uppercase */
  letter-spacing: 2px; /* Increase the space between letters */
  margin-bottom: 20px; /* Add some space below the title */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
select {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  font-size: 16px;
  color: #333;
  -webkit-appearance: none;  /* Remove default appearance for Chrome/Safari */
  -moz-appearance: none;  /* Remove default appearance for Firefox */
  appearance: none;  /* Remove default appearance for standard browsers */
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(86, 86, 86);
}

/* Add a custom arrow icon (requires a container with relative positioning) */
.select-container {
  position: relative;
}

.select-container::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;  /* Ignore clicks on the arrow icon */
}

input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;  /* Change to a more noticeable color */
  font-size: 16px;
  color: white;  /* Change text color to white for contrast */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);  /* Add a box shadow */
}

input[type="submit"]:hover {
  background-color: #45a049;  /* Darken the background color on hover */
}

input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1), 0 2px 5px rgba(0, 0, 0, 0.15);  /* Keep the original box shadow on focus */
}

#table-container{
  margin-left:20px;
  margin-right:20px;
  width: calc(100% - 40px);
}

.stockstable {
    border-collapse: collapse;
    width: 100%;
}
table.stockstable thead .sorting:after, 
table.stockstable thead .sorting_asc:after, 
table.stockstable thead .sorting_desc:after {
  color : yellow;
  opacity: 0.6 !important;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}


.week,.month,.sma,.rsi{
  text-align: center;
}

.stock{
  font-weight: bold;
}

th {
  background-color: #f2f2f2;
}

#summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:20px;
}

.box {
  border: 1px solid #ddd;
  padding: 10px;
  flex: 1;
  margin-right: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.title {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.ticker {
    font-size: 1.2em;
    color: #333;
}

.percentage {
    font-size: 1.2em;
}

#Wweekv, #Wmonthv{
    color: green;
}
#Lweekv, #Lmonthv{
    color: red;
}
